<!-- page section -->
<section id="about">

  {{ partial:layout/heros }}

  <div class="flex fex-col-reverse p-2 max-w-[95rem] item justify-center mx-auto bg-white">
      <div class="flex p-4 my-8 w-full mx-12 m-w-1/2">
       <img src="/assets/normslake.jpg" class="items-center justify-center object-cover h-[553px] drop-shadow-[15px_15px_0px_rgba(98,146,158,1)]" alt="">
      </div>
      <div class="flex p-4 my-12 w-full mx-12 h-[561px] m-w-1/2 bg-clrForestGreen">
        <h2 class="font-Martel font-[700] text-clrLightApricot leading-[34px] text-[21px] p-8">

          {{ main_content }} 
          <br><br> 
          {{ sub_content }}

        </h2>

      </div>
    </div>
</section>

