<!--hero-->
<section>
  <div class="relative bg-white overflow-hidden">
    <div class="lg:absolute bg-white lg:inset-y-0 lg:left-0 lg:w-1/2">
      <!-- <img class="h-56 w-full object-cover opacity-30 sm:h-72 md:h-96 lg:w-full lg:h-full" src="{{ heroleft:url }}" alt=""> -->
      
      </div>
      <div class="max-w-7xl mx-auto">
        <div class="relative z-10 pb-8 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
          <!-- <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
            <polygon points="50,0 100,0 50,100 0,100" />
          </svg>
     -->
              <div>
              <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
              
              </div>
      

              <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
                <div class="sm:text-center lg:text-left">
                  <h1 class="text-4xl tracking-tight font-extrabold text-[#A78C51] sm:text-5xl md:text-6xl">
                    <span class="block xl:inline font-serif">With an emphasis on quality, and punctiality.</span>
                    <p class="font-light"> -</p>
                    <span class="block text-zinc-500 text-3xl font-serif">We build, renovate, and repair any residential, 
                      commercial or government space.</span>
                  </h1>
                  <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0"> </p>
                  <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
                    <div class="rounded-md shadow">
                      <a href="#" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md drop-shadow-lg transition-colors duration-1000 delay-75 text-white bg-[#264027] hover:bg-[#A78C51] md:py-4 md:text-lg md:px-10 md:drop-shadow-md"> Get an estimate</a>
                    </div>
                    <div class="mt-3 sm:mt-0 sm:ml-3">
                      <a href="#" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md drop-shadow-lg transition-colors duration-1000 delay-75 text-[#A78C51] bg-white hover:bg-[#A78C51] hover:text-white md:py-4 md:text-lg md:px-10 md:drop-shadow-md"> Contact </a>
                    </div>
                  </div>
                </div>
              </main>
          </div>
        </div>
      </div>
      <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
      <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="{{ hero:url }}" alt="">
      </div>
  </div>
  
    
</section>

<!-- content -->
<section>
        <div class="py-16 bg-amber-50 overflow-hidden">
            <div class="max-w-7xl mx-auto px-4 space-y-8 sm:px-6 lg:px-8">
            <div class="text-base max-w-prose mx-auto lg:max-w-none">
                
                <p class="mt-2 text-3xl leading-8 font-extrabold font-serif tracking-tight text-[#A78C51] sm:text-4xl">What makes us different</p>
            </div>
            <div class="relative z-10 text-base max-w-prose mx-auto lg:max-w-5xl lg:mx-0 lg:pr-72">
                <p class="text-lg text-zinc-600">For every project to be successful, we strive to build positive relationships with our clients, subcontractors, and suppliers. Our goal is to help our customers achieve their goals through quality craftsmanship... from start to finish. We give personal attention to many of the details and in many cases provide a personal touch as a trademark of our business. </p>
            </div>
            <div class="lg:grid lg:grid-cols-2 lg:gap-8 lg:items-start">
                <div class="relative z-10">
                <div class="prose prose-orange text-zinc-600 mx-auto lg:max-w-none">
                    <p>We strive to provide exceptional service from a talented, high-energy team of knowledgeable, dependable professionals who are passionate about the business. We have a strong background in residential and commercial construction, repair, and renovation.

                      Owned and oprated since 2002 but have done this for over 40 years and have built our reputation on quality craftsmanship, competitive pricing and outstanding customer service.
                      
                      Our team has been working together for 20 years; we have the experience necessary to complete any project big or small. </p>
                    <ul role="list">
                    <!-- <p>Tincidunt integer commodo, cursus etiam aliquam neque, et. Consectetur pretium in volutpat, diam. Montes, magna cursus nulla feugiat dignissim id lobortis amet. Laoreet sem est phasellus eu proin massa, lectus. Diam rutrum posuere donec ultricies non morbi. Mi a platea auctor mi.</p> -->
                </div>
                <!-- <div class="mt-10 flex text-base max-w-prose mx-auto lg:max-w-none">
                    <div class="rounded-md shadow">
                    <a href="/contact" class="w-full flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-[#2E0219] hover:bg-[#A78C51]">Get an estimate</a>
                    </div>
                    <div class="rounded-md shadow ml-4">
                    <a href="/contact" class="w-full flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-[#A78C51] bg-white hover:bg-amber-100"> Contact us </a>
                    </div>
                </div> -->
                </div>
                <div class="mt-12 relative text-base max-w-prose mx-auto lg:mt-0 lg:max-w-none">
                <svg class="absolute top-0 right-0 -mt-20 -mr-20 lg:top-auto lg:right-auto lg:bottom-1/2 lg:left-1/2 lg:mt-0 lg:mr-0 xl:top-0 xl:right-0 xl:-mt-20 xl:-mr-20" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
                    <defs>
                    <pattern id="bedc54bc-7371-44a2-a2bc-dc68d819ae60" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                        <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                    </pattern>
                    </defs>
                    
                </svg>
                <blockquote class="relative bg-white rounded-lg shadow-lg">
                    <div class="rounded-t-lg px-6 py-8 sm:px-10 sm:pt-10 sm:pb-8">
                    <!-- <img src="https://tailwindui.com/img/logos/workcation-logo-orange-600-mark-gray-800-and-orange-600-text.svg" alt="Workcation" class="h-8"> -->
                    
                    <div class="relative text-lg text-gray-700 font-medium mt-8">
                      <span class="text-[#284229] px-6">What speed and quality really are! We love our new floors!</span>
                        <svg class="absolute top-0 left-0 transform -translate-x-3 -translate-y-2 h-8 w-8 text-gray-200" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                        <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                        </svg>
                        <p class="relative"></p>
                    </div>
                    </div>
                    <cite class="relative flex items-center sm:items-start bg-[#264027] rounded-b-lg not-italic py-5 px-6 sm:py-5 sm:pl-12 sm:pr-10 sm:mt-10">
                     
                    <span class="relative rounded-full border-2 border-white sm:absolute sm:top-0 sm:transform sm:-translate-y-1/2">
                        <img class="w-12 h-12 sm:w-20 sm:h-20 rounded-full bg-orange-300" src="https://images.unsplash.com/photo-1500917293891-ef795e70e1f6?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2.5&w=160&h=160&q=80" alt="">
                    </span>
                    <span class="relative ml-4 text-orange-300 font-semibold leading-6 sm:ml-24 sm:pl-1">
                        <span class="text-white font-semibold sm:inline">Judith Black</span>
                        <span class="sm:inline">CEO at Workcation</span>
                    </span>
                    </cite>
                </blockquote>
                </div>
            </div>
            </div>
        </div>
  </section>

<!--features-->
<section>

<div class="relative bg-white py-16 sm:py-24 lg:py-32">
    <div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
      <p class="mt-2 text-3xl font-extrabold font-serif tracking-tight text-[#A78C51] sm:text-4xl">Everything you need under one name</p>
      <p class="mx-auto mt-5 max-w-prose text-xl text-[#634321]"> We are a full service general contractor. Our goal is to complete your project in a safe, expedited and professional manner.</p>
      
      <!-- cards -->
     
      <div class="mt-12">
        <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">

          {{ features }}
          
          <div class="pt-6">
            <div class="flow-root rounded-lg bg-amber-50 px-6 pb-8">
              <div class="-mt-6">
                <div>
                  <span class="inline-flex items-center justify-center rounded-md bg-amber-100 p-3 shadow-lg">
                   
                    {{ svg src="{icon}" class="h-6 w-6" style="color: {color}" }}
                  
                  </span>
                </div>
                <h3 class="mt-8 text-lg font-medium tracking-tight text-[#634321]">{{ title }}</h3>
                <p class="mt-5 text-base text-zinc-500">{{ desc }}</p>
              </div>
            </div>
          </div>

          {{ /features }}
        </div>
      </div>
    </div>
  </div>
  
</section>