<!--hero-->
<section id="hero" class="mt-[4rem]">
  <div class="relative bg-clrForestGreen overflow-hidden lg:pr-16">
    <div class="container bg-clrForestGreen lg:absolute mx-auto lg:pr-6 lg:inset-y-0 lg:left-0 lg:w-1/2">
      <!-- <img class="h-56 w-full object-cover opacity-30 sm:h-72 md:h-96 lg:w-full lg:h-full" src="{{ heroleft:url }}" alt=""> -->
      
      </div>
      <div class="max-w-[95rem] mx-auto">
        <div class="relative z-10 pb-8 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
          <!-- <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
            <polygon points="50,0 100,0 50,100 0,100" />
          </svg>
     -->
          <div>
              <div class="relative pt-6 px-0 border-0 sm:px-0">
              
              </div>
      
              <main class="mt-10 max-w-[95rem] justify-center items-center mx-0 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
                <div class="text-center px-12 justify-center items-center sm:text-center lg:text-left">
                  <h1 class="font-[200] text-[45px] sm:text-[58px] text-white max-w-[526px]
                   sm:text-5xl md:text-6xl">
                    <span class="block font-GreatVibes xl:inline ">{{ main_content }}</span>
                
                  </h1>
                  <br><br>
                  <h2 class="max-w-[500px] text-[20px] sm:text-[28px]" >
                    <span class="block font-Martel text-clrLightApricot">{{ sub_content }}</span>
                  </h2>
                  <!-- <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 
                  md:text-xl lg:mx-0"> </p>-->
                  <br>
                  <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
                    <div class="rounded-md shadow">
                      <a href="/contact" class="w-full flex items-center justify-center px-8 py-3 border 
                      border-transparent 
                      text-base font-medium font-Poppins bg-clrPaleTerquoise rounded-md drop-shadow-lg 
                      transition-colors 
                      duration-1000 delay-50 text-clrLightGray md:py-4 md:text-lg md:px-10 md:drop-shadow-md"> Get an estimate</a>
                    </div>
                    <div class="mt-3 sm:mt-0 sm:ml-3">
                      <a href="/contact" class="w-full flex items-center justify-center px-8 py-3 border border-transparent 
                      text-base font-medium font-Poppins bg-white rounded-md drop-shadow-lg transition-colors duration-1000 
                      delay-50 text-clrMedBrown hover:bg-lightBrown hover:text-white md:py-4 md:text-lg md:px-10 md:drop-shadow-md">
                       Contact </a>
                    </div>
                  </div>
                </div>
              </main>
          </div>
        </div>
      </div>
      <div class="lg:absolute lg:inset-y-0 border-0 lg:right-0 lg:w-1/2">
          <img class="h-56 w-full object-cover border-0 px-0 -mtl-px sm:h-72 md:h-96 lg:w-full lg:h-full" src="{{ hero:url }}" alt="">
          <div class="absolute inset-0 bg-gradient-to-br from-bg-white to-transparent opacity-5"></div>
          <!-- <div class="bg-white">
            {{ assets:shape }}
            <img src="{{ glide:url width="760" height="480" }}" alt="">
            {{ /assets:shape }}
          </div>  -->
      </div>
  </div>
  
    
</section>

<!-- content -->

<section id="content" class="bg-clrLightApricot ">
  <div class="container flex flex-col md:flex-row items-center px-6 mx-auto space-y-0 md:space-y-0 md:max-w-[96rem] pt-12 pb-12">
    <!-- left -->
    <div class="flex flex-col mb-26 space-y-12 md;p-10 md:w-1/2 text-base max-w-prose mx-auto lg:max-w-5xl lg:mx-0 lg:pr-5">
      <p class="mt-2 text-[33px] text-clrMedBrown leading-8 font-extrabold font-Martel tracking-tight text-lightBrown sm:text-4xl">What makes us different</p>
      <p class="text-[14px] font-[300]  sm:text-[17px] font-Poppins text-clrForestGreen ">For every project to be successful, we strive to build positive relationships with our clients, subcontractors, and suppliers. Our goal is to help our customers achieve their goals through quality crafttext-manship... from start to finish. We give personal attention to many of the details and in many cases provide a personal touch as a trademark of our business. </p>
      <div class="text-[17px] font-Poppins mx-auto lg:max-w-none">
        <p class="hidden text-[14px] font-[300] sm:text-[17px] font-Poppins text-clrForestGreen lg:block ">We strive to provide exceptional service from a talented, high-energy team of knowledgeable, dependable professionals who are passionate about the business. We have a strong background in residential and commercial construction, repair, and renovation.
          Owned and oprated since 2002 but have done this for over 40 years and have built our reputation on quality craftsmanship, competitive pricing and outstanding customer service.
          Our team has been working together for 20 years; we have the experience necessary to complete any project big or small. </p>
      </div>  
    </div>
    <!-- right -->
    <div class="relative mt-[6rem] p-10 items-center justify-center md:w-1/2  ">
        <img src="/assets/bathroom.jpg" class="h-[50%] object-cover object-center shrink-0  drop-shadow-[15px_15px_0px_rgba(98,146,158,1)] alt="">
      </div>
     
    </div>
  </div>
</section>

<!-- features -->
<section id="features" class="z-10">

  <div class="bg-white pt-16 pb-8 sm:py-24 lg:py-32">
      <div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:max-w-[95rem] lg:px-8">
        <p class="mt-2 font-Martel font-[700] text-[33px] text-clrMedBrown sm:text-4xl">Everything you need under one name</p>
        <p class="mx-auto mt-5 max-w-prose font-Poppins font-[500] text-[14px] text-clrForestGreen"> We are a full service general contractor. Our goal is to complete your project in a safe, expedited and professional manner.</p>
        
        <!-- cards -->
       
        <div class="mt-12">
          <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
  
            {{ features }}
            
            <div class="pt-6">
              <div class="flow-root rounded-lg bg-clrLightApricot shadow-lg px-6 pb-8">
                <div class="-mt-6">
                  <div>
                    <span class="inline-flex items-center justify-center rounded-md bg-clrNiceGray p-3 shadow-lg">
                  
                      {{ svg src="{icon}" class="h-6 w-6 text-white" fill="white" style="{color}" }}
                   
                    </span>
                  </div>
                  <h3 class="mt-8 font-Martel text-[15px] font-[700] text-clrMedBrown">{{ title }}</h3>
                  <p class="mt-5 text-base font-Poppins font[400] text-clrForestGreen text-[18px]">{{ desc }}</p>
                </div>
              </div>
            </div>
  
            {{ /features }}
          </div>
        </div>
      </div>
    </div>
    
  </section>