<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta 
        name="description" 
        content="A general contractor and construction company serving the greater San Bernardino area and Southern California state
                 Plumbing, roofing, design, new construction, bathroom, bedroom, kitchen, living room, and full home remodeling, full renovation, repairs
                 boat docks, fishing docks, fencing, gas station, outdoor kitchen, custom construction">
    <title>{{ title }}</title>
    
   
    <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">

</head>
<body class="min-h-screen">
    {{ partial:layout/nav }}
    
    {{ template_content }}
 
    {{ partial:layout/footer }}
</body>
<script type="text/javascript" src="{{ mix src='/js/site.js' }}"></script>
</html>