<section>
    <div class="bg-white overflow-hidden">
        <img class="h-[32rem] w-full object-cover object-top" src="{{ glide:hero width="720" height="480" }}" >
        
    </div>
</section>
  
<div class="max-w-7xl mx-auto mt-8 px-4">
    <header class="mb-12 mt-9">
        <h1 class="text-3xl font-extrabold font-serif text-[#634321]">Please, take a look around.</h1>
        <p class="text-2xl text-[#A78C51]">Let us do your next project.</p>
    </header>
<ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
    
    {{ collection:projects }}
    <li class="relative">
        <a href="{{ url }}">
            <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-orange-500 overflow-hidden">
                <!-- {{ assets:photos }} -->
                <img src="{{ glide:feature_photo width="720" height="480" }}" class="transform hover:opacity-50 hover:border-[#634321] duration-1000 delay-75">
                <!-- {{ /assets:photos }} -->
                <!-- <button type="button" class="absolute inset-0 focus:outline-none">
                <span class="sr-only">{{ title }}</span> -->
                </button>
            </div>
            <p class="mt-2 block text-md font-medium text-[#264027] truncate pointer-events-none">{{ title }}</p>
        </a>
        </li>
    {{ /collection:projects }}
    
</ul>
 </div>