  <section id="heros mt-[2rem]">
    <!-- hero -->
    <div class=" bg-clrLightApricot max-h-[683px] mb-6 items-center justify-center sm:mt-2 md:pt-2 ">
        <!-- photo top -->
      <div class="flex flex-row-2 relative max-w-[95rem] mx-auto object-cover z-10 items-center justify-center sm:py-[48px] px-8">

        <img src="{{ glide:hero width="760" height="480" }}" class="object-cover items-center justify-center pt-4 pb-8 max-h-[511px] w-full  drop-shadow-[15px_15px_0px_rgba(98,146,158,1)] sm:pt-2 sm:pb-4" alt="bench" />
        <h1 class="absolute font-GreatVibes hidden text-center text-[48px] text-white items-center left-1/2 -translate-x-1/2 -translate-y-1/2 sm:block sm:leading-tight md:text-[60px] md:leading-[60px] lg:font-[400] lg:text-[60px] lg:leading-[50px]">{{ heading }}
          <br>
        </h1>
       
       <p class="absolute  px-6 font-Martel lg:font-[400] text-[24px] leading-[45px] text-gray-400 text-center mt-8 sm:pt-12 md:font-[700] md:text-[28px] md:pt-[4rem] md:leading-[55px]">{{ sub_heading }}</p>

      </div> 
      <div class="z-20">
           
        </div>
  </div>
</section>