  <section id="heros">
    <!-- hero -->
    <div class=" bg-clrLightApricot pt-8 mt-[4rem] h-[683px] items-center justify-center static">
      <!-- photo top -->
    <div class="flex flex-row-2 relative max-w-[95rem] mx-auto object-cover items-center justify-center py-[48px] px-8">

      <img src="{{ glide:hero width="760" height="480" }}" class="object-cover items-center justify-center h-[511px] w-full drop-shadow-[24px_24px_0px_rgba(98,146,158,1)]" alt="bench" />
      <h1 class="absolute font-GreatVibes font-[400] text-[84px] leading-[105px] text-clrLightApricot items-center left-1/2 -translate-x-1/2 -translate-y-1/2">{{ heading }}
        <br>
      <p class="absolute font-Martel font-[700] text-[33px] leading-[55px] text-clrLightApricot text-center">{{ sub_heading }}</p>
    </h1>
    </div>
  </div>
</section>