<nav class="relative container max-w-[95rem] mx-auto md:max-h-[105px]">
    <!-- flex contaner -->
    <div class="flex sm:items-center justify-between">
        <div class="pt-2">
            <img class="h-[6rem] pt-2 w-auto sm:h-[8rem]" src="/assets/logo-hero.png" alt="l4yconstruction">
        </div>
        <!-- menu -->
        <div class="hidden sm:flex sm:space-x-12 lg:space-x-[79px] pr-6">
            {{ nav:collection:pages include_home="true" }}
            <a href="{{ url }}" class="text-clrMedBrown font-[100] text-[12px] pl-4 uppercase tracking-tighter sm:tracking-tighter md:tracking-[.25rem] border border-solid border-x-0 border-y-clrNiceGray
            px-3 py-2 
            {{ is_current ?= 'font-semibold text-clrForestGreen' }} ">{{ title }}</a>
            {{ /nav:collection:pages }}
                 <!-- hamburger -->
        <button id="menu-btn" class="block sm:hidden focus:outline-none">
            <span class="hamburger-top">

            </span>
            <span class="hamburger-middle">

            </span>
            <span class="hamburger-bottom">

            </span>
        </button> 
        </div>
  
           <!-- menu -->
    <div class="sm:hidden">
        <div id="menu" class="absolute flex flex-col items-center self-end py-8 mt-10 space-y-6 font-bold bg-white sm:w-auto left-6 right-6 drop-shadow-md z-50 md:block">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
    </div>
 
</nav>
