<nav class="relative container max-w-[95rem] mx-auto h-[105px]">
    <!-- flex contaner -->
    <div class="flex items-center justify-between">
        <div class="pt-2">
            <img class="h-[12rem] pt-4 w-auto" src="assets/logo-hero.png" alt="l4yconstruction">
        </div>
        <!-- menu -->
        <div class="hidden md:flex space-x-[79px] pr-6">
            {{ nav:collection:pages include_home="true" }}
            <a href="{{ url }}" class="text-clrForestGreen from-left border border-solid border-x-0 border-y-clrMedBrown
            px-3 py-2 
            {{ is_current ?= 'font-bold' }} ">{{ title }}</a>
            {{ /nav:collection:pages }}
        </div>
    </div>
</nav>