@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Martel:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,500&display=swap');


@import "tailwindcss/base";

@import "site";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /* font-size: 1rem; */
    line-height: 1.5;
    --def: #284229;
    --inv: #4d3707;
}
.bg-test {
    background-image: url('/assets/svg/wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* background-attachment: fixed; */
}

/* hamburger menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;

}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #000;
    transform: rotate(0deg);
    transition: all 0.5s;
}

.hamburger-bottom {
    transform: translateY(14px);
}

.hamburger-middle {
    transform: translateY(7px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
    opacity: 0;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
#hamburger-1.is-active .line:nth-child(2){
    opacity: 0;
  }
  
  #hamburger-1.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }
  
  #hamburger-1.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
  }