@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Martel:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,500&display=swap');


@import "tailwindcss/base";

@import "site";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.bg-test {
    background-image: url('/assets/svg/wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /* font-size: 1rem; */
    line-height: 1.5;
    --def: #A78C51;
    --inv: #4d3707;
}

a {
    position: relative;
    color: darkgreen;
    letter-spacing: .25rem;
    text-transform: uppercase;
    transition: all 500ms cubic-bezier(0.077, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
}
a::before,
a::after {
    content: "";
    position: absolute;
    transition: inherit;
    
}
a:hover {
    color: var(--def);
    transition-delay: 0.5s;
}
a:hover::before {
    transition-delay: 0s;
}
a:hover::after {
    transition-delay: 0.35s;
    background: var(--inv);
}
/* Form Left */

.from—left::before,
.from—teft::after {
    top: 0;
    width: 0;
    height: 100%;
}
.from—left::before {
    right: 0;
    text-decoration: var(--inv) 2px underline overline;
    border-left: 0;
    border-right: 0;
}
.from—left::after {
    left: 0;
}
.from—left:hover::before,
.from—left:hover::after {
    width: 100%;
}