@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Martel:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,500&display=swap');


@import "tailwindcss/base";

@import "site";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.bg-test {
    background-image: url('/assets/svg/wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}